<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.weibo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".WeiboApplication"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data android:name="appKey" android:value="2045436852"/>
        <meta-data android:name="redirectUri" android:value="https://api.weibo.com/oauth2/default.html"/>
        <meta-data android:name="scope" android:value="email,direct_messages_read,direct_messages_write,friendships_groups_read,friendships_groups_write,statuses_to_me_read,follow_app_official_microblog,invitation_write"/>

        <activity android:name=".app.login.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".app.main.MainActivity">
        </activity>
    </application>

</manifest>